<div class ="container">
	<div class ="row">
		<h1 class ="col-xs-12 text-center">category検索/<small>(全<%= @posts.count %>件)</small></h1>
		<%= render 'users/posts/post_index', {posts: @posts } %>
	</div>
</div>
