<div class ="container">
  <div class ="row">
    <div class ="page-title">
      <h2><storong>Topics</storong>
        <!--　カテゴリーのタグ検索　　-->
      </h2>
    </div>

    <div class ="topic-index">
      <div class ="new-topic">
        <div class ="new-topic-image">
      </div>
      <div class ="new-topic-body">
        <%= @topics.text %>
      </div>
