<div class ="container">
	<div class =" row">
		<div class ="col-xs-12">
			<h1 class ="text-center"><%= @user.name %>のfollowers</h1>
			<%= render 'follow_index', {user: @user.followers} %>
		</div>
	</div>
</div>