<div class ="container">
  <div class ="row">
    <div class ="page-title text-center">
      <h1><storong>Topics</storong>
      </h1>
    </div>
    <%= render 'hosts/topics/topic_index', {topics: @topics} %>
    <%= render '/layouts/category_topic', {categories: @categories } %>
  </div>
</div>