<table class="table table-hover table-bordered table-condensed">
	<thead>
		<tr class="info">
			<th width= "50">会員img</th>
			<th width= "200">氏名</th>
		    <th width= "200">メールアドレス</th>
			<th width= "100">ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% users.each do |user| %>
		<tr>
			<td>
				<%= attachment_image_tag user, :profile_image, style: "width:60px; heigth: 60px;", fallback: "no-image.png" %>
			</td>
			<td>
				<%= link_to  hosts_user_path(user) do %>
					<%= user.name%>
				<% end %>
			</td>
			<td><%= user.email %></td>
			<td>
			<!-- true=退会済み　false=有効　-->
				<% if user.is_deleted ==true %>
					退会済み
				<% else %>
					有効
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>