<div class="container">
        <div class="row">
			<div class="col-xs-12">
				<!--タイトル-->
      				<h2 class ="text-center"><storong>登録会員一覧</storong></h2>
    			<!-- 会員一覧表　-->
    			<%= render 'hosts/users/user_index', {users: @users} %>
    			<%= paginate @users %>
				</div>
			</div>
		</div>