<p id="notice"><%= notice %></p>

<div class ="container">
  <div class ="row text-center">
    <h1>Thank you!!</h1>
    <p>お問い合わせありがとうございます。</br>
    入力頂きました、メールアドレスの方に</br>
    担当者より折り返し連絡させていただきますので</br>
    今しばらくお待ちください。</br>
    </p>
  </div>
</div>