<div class ="container">
  <div class ="row">
    <div class ="page-title text-center">
      <h2><storong>旅人の足跡</storong></h2>
    </div>
    <div>
        <!--　カテゴリーのタグ検索　　-->
       <%= render 'users/posts/post_index', {posts: @posts} %>
     </div>
     <div class ="col-xs-12 text-center">
       <%= paginate @posts %>
     </div>
  </div>
  </div>
</div>