<div class ="container-fluid">
	<div class ="row">
		<!-- スライドショー　-->
		<div class ="about-headline col-xs-12 text-center">
			<div class="about-title-fream">
				<article class ="contents">
					<h1 class ="about-title"> <strong>Welcome to Pioneer!!</strong></h1>
				</article>
			</div>
		</div>
		</div>
	</div>
<div class ="container">
	<div class ="row about-row">
		<h1 class ="col-xs-12 text-center">pioneer とは？</h1>
		<div class ="about col-xs-12">
			<div class ="about-text a col-xs-6">
				<h2 class ="text-center">1.旅人が作り上げていくSNS</h2>
					<P class ="text-center">
					このサイトでは、旅先での経験を足跡として記すことができます。</br>
					「現地での出会い」「見つけた隠れスポット」「王道の観光地」</br>
					など、大切にしている思い出を共有することがきます。
					</P>
			</div>
			<div class ="col-xs-6">
				<%= image_tag '/aseets/about2.jpeg', class: "about-image" %>
			</div>
		</div>

		<div class ="about col-xs-12">
			<div class ="col-xs-6">
				<%= image_tag 'about3.jpeg', class: "about-image" %>
			</div>
			<div class ="about-text b  col-xs-6 text-center">
				<h2 class ="text-center">2.旅の素晴らしさを共有</h2>
				<p>
				当サイトは旅をする事を推奨しております。旅をする事で、</br>
			   「知らない自分」「国ごとの様々な文化」「他国からみた自国」</br>
				など、いつも気がつかない事に沢山出会います。</br>
				旅に興味がある方の背中を押せれば本望です。
				</p>
			</div>
		</div>

		<div class ="about col-xs-12">

			<div class ="about-text a col-xs-6 text-center">
				<h2 class ="text-center">3.旅先の選択肢を増やす</h2>
				<P>行ったことの無い国のリアルな足跡を見ることができ、</br>
					今まであまり興味なかった国や、知らなかった国など、</br>
					旅先の選択肢を増やすことができます。</P>
			</div>
					<div class ="col-xs-6">
				<%= image_tag 'about4.jpeg', class: "about-image" %>
					</div>
			</div>
		</div>
	</div>
</div>






