<div class ="container-fluid">
	<div class ="row">
		<!-- スライドショー　-->
		<div class ="about-headline col-xs-12 text-center">
			<div class="about-title-fream">
				<article class ="contents">
					<h1 class ="about-title"> <strong>Welcome to Pioneer!!</strong></h1>
				</article>
			</div>
		</div>
		</div>
	</div>
<div class ="container">
	<div class ="row about-row">
		<h1 class ="col-xs-12 text-center">pioneer とは？</h1>
		<div class ="about col-xs-12">
			<div class ="about-text a col-xs-12">
				<h2 class ="text-center">旅人が作り上げていくSNS</h2>
					<P class ="text-center">
						「旅行先でした経験を思い出として記したい！」<br>
						「旅行に行きたいけど、どこがいいかわからない...」<br>
						「ネットや、本に載っていない、隠れスポットが知りたい！」<br>
						など、旅に関する出来事を共有、閲覧することができるサービスです
					</P>
			</div>
			<div class ="col-xs-4 text-center">
				<%= image_tag 'about2.jpeg', class: "about-image" %>
			</div>
			<div class ="col-xs-4 text-center">
				<%= image_tag 'about3.jpeg', class: "about-image" %>
			</div>
			<div class ="col-xs-4 text-center">
				<%= image_tag 'about4.jpeg', class: "about-image" %>
			</div>
		</div>
	</div>

	<div class ="col-xs-12 about-text text-center">
		<h1 class ="text-center">Pioneerでできること</h1>
			<div class ="col-xs-4">
				<i class="far fa-heart fa-4x"></i>
					<h1>View</h1>
			</div>

			<div class ="col-xs-4">
				<i class="far fa-paper-plane fa-4x "></i>
				<h1>Write</h1>
			</div>

			<div class ="col-xs-4">
				<i class="far fa-comments fa-4x"></i>
				<h1>Encounter</h1>
			</div>
		</div>
		<div class ="about-box-list col-xs-12">
			<div class ="about-box col-xs-4">
				<i class="far fa-heart fa-3x col-xs-5"></i>
					<h1 class ="col-xs-7">View</h1>
				<p>他ユーザーが投稿した記事やトピックを閲覧できます。<br>
				また、投稿に対して「いいね」や、「コメント」することできます。</p>
			</div>
			<div class ="about-box col-xs-4">
				<i class="far fa-paper-plane fa-3x col-xs-5"></i>
				<h1 class ="col-xs-7">Write</h1>
				<p>旅先での大切な思い出を投稿し共有することができます。</br>
					「美味しかったレストラン」「なかなか見れない絶景」</br>
					　など、ジャンルは問いません。
				</p>
			</div>
			<div class ="about-box col-xs-4">
				<i class="far fa-comments fa-3x col-xs-4"></i>
				<h1 class ="col-xs-8">Encounter</h1>
				<p>他ユーザーとDMを用いて、交流できます。</br>
					新たな旅仲間を増やしたり、旅行の候補地を聞いたり</br>
					用途は様々です。
				</p>
			</div>
		</div>
	</div>
</div>






