<% if user_signed_in? or host_signed_in? %>
	<%= render partial:'homes/top' ,locals:{post: @post,topic: @topic} %>
<% else %>
	<div class ="container-fuild unlogin">
		<div class ="row">
			<div class ="unlogin-top">
				<div class ="unlogin-text col-xs-offset-3 col-xs-5">
				<h1 style ="color:#770000">Pioneerへようこそ。</h1>
				<h5>~<storong>旅人</storong>同士で作り上げるSNS~</h5>
              <%= link_to "SiginUp",new_user_registration_path, class:"btn-open"%>
              <%= link_to "Login",new_user_session_path, class:"btn-open"  %>
             </div>
         </div>
     </div>
<% end %>
     </div>

<script>
	$(document).ready(function () {
	  $("#theTarget").skippr({
	    transition : 'slide',
	    // 変化に係る時間(ミリ秒)
	    speed : 1000,
	    // easingの種類
	    easing : 'easeOutQuart',
	    // ナビゲーションの形("block" or "bubble")
	    navType : 'block',
	    // 子要素の種類("div" or "img")
	    childrenElementType : 'div',
	    // ナビゲーション矢印の表示(trueで表示)
	    arrows : true,
	    // スライドショーの自動再生(falseで自動再生なし)
	    autoPlay : true,
	    // 自動再生時のスライド切替間隔(ミリ秒)
	    autoPlayDuration : 3000,
	    // キーボードの矢印キーによるスライド送りの設定(trueで有効)
	    keyboardOnAlways : true,
	    // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
	    hidePrevious : false
	  });
	});
</script>


