<div class ="container">
	<div class ="row">
		<!-- スライドショー　-->
		<div class ="col-xs-12">
			<div class="slide">
				<h1> <strong>Pioneerへ　ようこそ</strong></h1>
				<div class="slide-body"><img class="slide-img" src="/assets/"></div>
				<div class="slide-body"><img class="slide-img" src="/assets/"></div>
				<div class="slide-body"><img class="slide-img" src="/assets/"></div>
				<div class="slide-body"><img class="slide-img" src="/assets/"></div>
				<div class="slide-body"><img class="slide-img" src="/assets/"></div>
				<div class="slide-body"><img class="slide-img" src="/assets/"></div>
				<div class="slide-body"><img class="slide-img" src="/assets/"></div>
			</div>
		</div>

		<div class ="col-xs-12">
			<h3>新規投稿</h3>
			<div class ="new-posts-block">
				<div clsss ="posts">
				</div>
				<div clsss ="posts">
				</div>
				<div clsss ="posts">
				</div>
			</div>
		</div>

		<div class ="col-xs-12">
			<h3>新規トピック</h3>
			<div class="new-topics-block">
				<div class ="topics">
				</div>
				<div class ="topics">
				</div>
			</div>
		</div>
	</div>
</div>


