// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.create-topics{
	margin-top: 50px;
	padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #00FF00;/*線*/
    border-radius: 10px;/*角の丸み*/
  	background-color: #DDDDDD;
}
.create-topics-headline{
	padding: 15px 0 15px 0;
}
.create-topic-image{
	margin-bottom: 15px;
}
.big-topic-image{
	width:80%;
	height: 350px;
}
.topic-list-image{
	width: 80%;
	height: 100px;
	border-radius: 50%;
}
.top-post-list{
	padding-bottom: 30px;
}
.topic-list-body{
	padding: 30px 10px 10px 10px;
	margin-top :20px;
	position: relative;
    box-shadow: 0px 0px 0px 5px #999;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
	}
.topic-list-body:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #999 #999 #999;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.topic-text{
	height: 150px;
	margin-top: 10px;
	padding: 40px 5px 5px 5px;
}